<h1>Hey, it Works</h1>
    <img src="images/logo.png">

    <div>
        <h1>rhidoy</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repellat consequatur nesciunt dolorum dolore cumque maiores consectetur fugiat dignissimos beatae. Asperiores dolorum quos itaque maxime atque quis nemo soluta consectetur!
        <p style=color:"white";>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores non mollitia reiciendis ducimus aspernatur veritatis exercitationem doloremque laborum totam cumque nostrum ad optio repudiandae, aliquid consequatur velit sunt voluptatibus in!</p>
    </div>
